body {

	background-color: grey;

}


h1   {
             color: blue;
             text-align: center;
}

p{
	color: black;
	font-size: 30px
}

h2 {
	color: blue;
	text-align: center;
}

a:link , a:active {

	text-decoration: none;
	display: block;
	text-align: center;
	color: black;
	width: 200px;
	margin: 5px;
	background-color: yellow;
	border: 2px solid red;

}

a:hover , a:active{
	background-color: red;
	color: yellow;
	font-size: 20px;
}
